/*  Inter - fontweight 400, latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("inter-v2-latin-regular.woff2") format("woff2"),
    url("inter-v2-latin-regular.woff") format("woff");
}

/* Inter Bold - fontweight 700, latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("inter-v2-latin-700.woff2") format("woff2"),
    url("inter-v2-latin-700.woff") format("woff");
}
