html {
  font-size: 24px;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #000022;
  color: white;
  margin: 0;
}

.main-wrapper {
  display: grid;
  place-items: center;
  padding: 2rem;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.content {
  grid-row-gap: 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 8rem));
  place-content: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}

.contact__icon {
  transition: stroke 0.1s ease-in-out;
  fill: none;
  stroke: currentColor;
  stroke-width: 12;
}

.contact__label {
  margin: 0.5em 0 0 0;
}

.contact:hover {
  color: #00f8fc;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 5rem;
  grid-column: 1/3;
  grid-row: 1;
  /* A bit of magic number negative margin to keep the text align with the image. */
  margin-bottom: -0.66rem;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

a {
  color: #00ccff;
  position: relative;
  text-decoration: none;
}

.information__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #00ccff;
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 0.075s ease-in-out;
}

.information__link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.erik {
  background-image: linear-gradient(
    to right,
    #00f8fc,
    #00ddff,
    #00bfff,
    #009bff,
    #446ffd
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.portrait {
  grid-column: 3/-1;
  grid-row: 1;
  object-fit: none;
  width: 100%;
  height: 304px;
}

.information-body {
  grid-column: 1/-1;
  margin: 0;
  line-height: 1.5em;
  font-weight: 300;
}

@media only screen and (max-width: 860px) {
  h1 {
    font-size: 2.5rem;
  }
  .heading {
    padding-right: 1rem;
  }
  .portrait {
    height: 260px;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  .main-wrapper {
    padding: 1rem;
  }
  .portrait {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 2;
  }
  .content {
    grid-template-columns: repeat(2, minmax(auto, 8rem));
    grid-row-gap: 1rem;
  }
  .heading {
    grid-column: 1/-1;
    padding: 0;
    margin: 0;
  }
}
