html {
  font-size: 24px;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #000022;
  min-height: 100vh;
  color: white;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 2.5rem;
  margin: 2rem auto;
  width: 33rem;
}

.logo {
  fill: none;
  stroke: #00ccff;
  stroke-width: 12;
}

.logo:hover {
  fill: none;
  stroke: #00f8fc;
  stroke-width: 10;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 5rem;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

a {
  color: #00ccff;
  position: relative;
  text-decoration: none;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #00ccff;
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 0.075s ease-in-out;
}

a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.erik {
  background-image: linear-gradient(
    to right,
    #00f8fc,
    #00ddff,
    #00bfff,
    #009bff,
    #446ffd
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.portrait {
  object-fit: cover;
}

.information-body {
  grid-column: 1/-1;
  margin: 0;
  line-height: 1.5em;
  font-weight: 300;
}
